table {
	background-color: #777079;
	width: 90%;
	margin-left: 30% ;
	background-color: #777079   ;
	width: 30%;
	font-weight: normal;
	border: 5px solid  #98919a
 ;
	
}
td{
	border: 5px solid  #98919a;
	width: 40%;
	padding-left: 15px;
	

}