body {
	background-color:   #a9cce3  ;
	width: 90%;margin: 20px;}
h1{
    padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 3px 4px grey;
	color: white;
	text-transform:uppercase;}

p.uno{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 25%;margin-right: 25% ;
	width: 40%;
	background-color: white;
	font-weight: normal;
	border: 7px solid black;
	border-radius: 13px;
	color: black;}

p.dos{
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 50% ;
	background-color:    #e74c3c  ;
	width: 40%;
	font-weight: normal;
	border: 10px solid   #ec7063  ;
	border-radius: 13px 0px 0px 13px;}

p.tres{
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 50% ;
	background-color:  #9c640c    ;
	width: 40%;
	font-weight: normal;
	border: 10px solid   #784212 ;
	border-radius: 0px 13px 13px 0px;
}

p.cuatro {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 25%;
	background-color:    #6c3483   ;
	width: 40%;
	font-weight: normal;
	border: 5px dashed   #4a235a ;
	border-radius: 0px;
}